extends layout

block content
  script(src='//platform.twitter.com/widgets.js')
  div.main-container(ng-controller='ChatController')
    div.settings-panel
      | Logged in as&nbsp;
      a(href='#') {{username}}
      | &nbsp;|&nbsp;
      a(href='#') Settings
      | &nbsp;|&nbsp;
      a(href='/logout') Logout

    div.top-panel
      h1.title Convocate
    div.main-panel
      ul.tab-container.tabs
        li.tab Lobby
        li.tab.active General
      div.tab-content
        span(ng-show='!scroller.scrolling && !scroller.enabled', ng-click='scroller.enabled = true', style='position: absolute; top: 25px; right: 25px; cursor: pointer; z-index: 50;') &#9660;
        p.topic Convocate!
        div.chat(scroll-to-bottom='scroller.needsScroll', scrolling-enabled='scroller.enabled', scrolling='scroller.scrolling')
          span(ng-repeat="chat in chats", ng-switch="chat.type", ng-class-even="'alt'")
            div.time(ng-switch-when="time") {{chat.time}}
            div.entrance(ng-switch-when="entrance") &rarr; {{chat.username}} joined the room.
            div.entrance(ng-switch-when="exit") &larr; {{chat.username}} left the room.
            div.message(ng-switch-default)
              span.name(ng-class="{me: chat.username == username}") {{chat.username}}
              span.line
                span(ng-bind-html-unsafe='chat.message | sanitize | nl2br')
                div(special-message='chat.message', scroller='scroller.needsScroll')
    div.side-panel
      p.section Users
      ul.user-list
        li.present
          div.name
            img.status-orb(src="/images/orb_green.png")
            strong {{username}}
        li.present(ng-repeat="user in users", ng-show="user != username")
          div.name
            img.status-orb(src="/images/orb_green.png")
            span {{user}}
      p.section Files
    div.bottom-panel
      form(ng-submit="submitMessage()")
        textarea.input(editbox, editbox-enter="submitMessage()", ng-model="message", placeholder='Say something...')
        button Send
