doctype 5
html
  head
    title Convocate
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/assets/bundle.js')
  body(ng-app='convocate')
    block content
