extends layout

block content
  div.settings-panel
    | Logged in as&nbsp;
    a(href='#') Brandon Tilley
    | &nbsp;|&nbsp;
    a(href='#') Settings
    | &nbsp;|&nbsp;
    a(href='#') Logout

  div.main-container
    div.top-panel
      h1.title Grockit
    div.main-panel
      ul.tab-container.tabs
        li.tab Lobby
        li.tab General
        li.tab.active Developers
        li.tab Product
      div.tab-content
        p.topic You ready to bro down and crush some code!?
        div.chat
          p.time 10:30 AM
          p.entrance &rarr; Shane W. joined the room.
          p.message
            span.name Shane W.
            span.line Yo, whassup
          p.message
            span.name.me Brandon T.
            span.line Sup, Shane
          p.message
            span.name Mr. Long Name Here
            span.line Sup, Shane
          p.time 10:35 AM
          p.message
            span.name Mr. Long Name Here
            span.line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line
          p.entrance &larr; Mr. Long Name Here left the room.
          p.message
            span.name.me Brandon T.
            span.line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line Here is a long line
          p.time 10:40 AM
          p.entrance &rarr; Mike H. joined the room.
          p.message
            span.name Mike H.
            span.line WOOOOOOO
          p.time 10:45 AM
          p.message
            span.name Brandon T.
            span.line Hey!
          p.message
            span.name Brandon T.
            span.line No having fun!
          p.message
            span.name Mike H.
            span.line
              img(src='http://whateverblog.dallasnews.com/files/2012/12/Grumpy-Cat-MEME-01.jpg')
    div.side-panel
      p.section Users
      ul.user-list
        li.present
          div.name
            img.status-orb(src="/images/orb_green.png")
            strong Brandon T.&nbsp;
          div.status ( ╯°□°）╯︵ buoןɟ
        li.idle
          div.name
            img.status-orb(src="/images/orb_yellow.png")
            | Shane W.
        li.present
          div.name
            img.status-orb(src="/images/orb_green.png")
            | Mike H.
        li.away
          div.name
            img.status-orb(src="/images/orb_red.png")
            | Tiem S.&nbsp;
          div.status grabbing lunch
      p.section Files
    div.bottom-panel
      textarea.input(placeholder='Say something...')
      button Send
